# Terraform files
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup

# Plan files
*.tfplan

# Local secrets
*.tfvars
*.pem
*.csv

# OS / editor garbage
.DS_Store
Thumbs.db
.vscode/
